{% extends 'text-content-list.html' %}
{% set active_page = "Articles" %}
{% set content_type = "article" %}

{% block title %}Articles{% endblock %}

{% block content_intro %}
	<h2>Articles</h2>
	<p>These are Linux related articles I've written for my own reference which might be useful for others with similar interests. All of the articles here are mainly focused on <abbr title="Red Hat Enterprise Linux">RHEL</abbr>/CentOS unless otherwise stated in the title.</p>
{% endblock %}

{% block list_header %}Documents{% endblock %}
